@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

$primary-color-100: #FAFAFA;
$primary-color-400: #4D96A9;
$primary-color-800: #28283D;

$secondary-color-300:   #D9B8FF;
$secondary-color-400:   #8FE3F9;
$secondary-color-600:   #87879D;
$secondary-color-700:   #855FB1;

$font-family : 'Red Hat Display', sans-serif;

$text-size-medium: 1.125rem;
$text-size-large: 2.5rem;
$text-size-xlarge: 4rem;
$text-size-overline: 1rem ;

$tablet: 768;
$pc: 1024;
$desktop: 1280;

